HistoryBattlesServer/bin
HistoryBattlesServer/.vs
HistoryBattlesServer/obj
MatchmakingServer/bin
MatchmakingServer/.vs
MatchmakingServer/obj
MatchmakingClient/cmake-build-debug
packages/
*.out
*.exe
*.dll
.vs
